@media screen and (max-width: 480px) {
    .nav {
       display: none;
     }
     .judulDetail {
        font-size: 50px;
    }
   }
   @media screen and (max-width: 768px) {
    .nav {
       display: none;
     }
     .judulDetail {
        font-size: 50px;
    }
   }
   @media screen and (min-width: 1024px) {
    .judulDetail {
        font-size: 100px;
    }
   }
   @media screen and (min-width: 1280px) {
    .judulDetail {
        font-size: 100px;
    }
   }



.nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 ;
    background-color: white;
}
.nav ul li {
    margin-top: 10px;
    list-style: none;
    font-weight: 600;
}
.nav .grup-button button {
    background-color: red;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}

/* mobile nav */
.mobile-sm {
    display: flex;
    padding: 20px 0 ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
}
.mobile-sm .grup-button button {
    background-color: red;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}



/* end navbar */

.content {
    position: relative;
    padding-top: 50px;
}
.carousel-item img {
    height: 40em;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20px;
  }
